@model ISAD251WebApp.Models.OrderDetails

@{
    ViewData["Title"] = "Details";
}

<h1>OrderDetails</h1>

<div>
    <h4>Thank you for ordering!! wait a while</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Create">New Order</a>
</div>
